{% include body/menu.html %}


<hy-push-state
  replace-ids="_main"
  link-selector="a[href]:not([href*='/assets/']):not(.external):not(.no-push-state)"
  duration="250"
  script-selector="script:not([type^='math/tex'])"
  prefetch
>
  {% if page.cover %}
    {% include body/sidebar.html %}
    {% include body/main.html %}
  {% else %}
    {% include body/main.html %}
    {% include body/sidebar.html %}
  {% endif %}
</hy-push-state>
<script src="https://ads-partners.coupang.com/g.js" alt=""; style="max-width:100%; margin-left: auto; margin-right: auto; display: block;></script>
<script>
	new PartnersCoupang.G({ id:309087 });
</script>
{% include body/scripts.html %}
{% include my-body.html %}
{% include templates/index.html %}
