{% include body/menu.html %}


<hy-push-state
  replace-ids="_main"
  link-selector="a[href]:not([href*='/assets/']):not(.external):not(.no-push-state)"
  duration="250"
  script-selector="script:not([type^='math/tex'])"
  prefetch
>
  {% if page.cover %}
    {% include body/sidebar.html %}
    {% include body/main.html %}
  {% else %}
    {% include body/main.html %}
    {% include body/sidebar.html %}
  {% endif %}
</hy-push-state>
<a href="https://coupa.ng/bH9kvb" target="_blank"><img src="https://ads-partners.coupang.com/banners/301502?subId=&traceId=V0-301-50c6c2b97fba9aee-I301502&w=728&h=90" alt=""; style="max-width:100%;margin-left: auto; margin-right: auto; display: block;></a>
{% include body/scripts.html %}
{% include my-body.html %}
<ins class="kakao_ad_area" style="display:none;" 
 data-ad-unit    = "DAN-qy2633byrv3r" 
 data-ad-width   = "320" 
 data-ad-height  = "50"></ins> 
<script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
{% include templates/index.html %}
